@font-face {
  font-family: "BDO Grotesk";
  src: url(../font/BDOGrotesk-VF.ttf) format("truetype");
}

:root {
  /* Primary Color */
  --color-dark: #000000;
  --color-white: #ffffff;
  --color-bg-sky: #fbfcff;
  --color-blue: #0066ff;

  /* Font Family */
  --font-family: "BDO Grotesk", "Arial", sans-serif;

  /* Font Size */
  --font-size-display1: 3rem;

  --font-size-p: 1rem;
  --font-size-h1: 1.5rem;
  --font-size-h2: 1.5rem;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

::selection {
  color: var(--color-hover-blue);
  background: var(--color-blue);
}

/* Font Style */
.display1 {
  font-size: var(--font-size-display1);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
}

p {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-regular);
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: var(--font-family);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-regular);

  transition: all 0.3s;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  border: none;
}

/* Styles */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;

  background: var(--color-bg-sky);
}

main {
  width: 100%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 60px;
}

section {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

form {
  display: flex;
  gap: 20px;
}

input {
  width: 100%;
  padding: 12px;

  color: var(--color-blue);
  background-color: var(--color-bg-sky);
  border: 1px solid var(--color-blue);
  border-radius: 6px;
  opacity: 0.8;
}

input::placeholder {
  color: var(--color-blue);
}

input:hover {
  opacity: 1;
}

input:focus {
  outline: none;
  opacity: 1;
}

button {
  padding: 12px;

  color: var(--color-bg-sky);
  background: var(--color-blue);
  border-radius: 6px;

  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.card-1 {
  width: 100%;

  display: flex;
  padding: 12px;
  gap: 30px;

  width: 100%;

  color: var(--color-bg-sky);
  background: var(--color-blue);
  border-radius: 6px;
}

.card-1-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card-1-img {
  overflow: hidden;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-1-img img {
  height: 100px;
}
